@import './utils/variables';
@import './components/page-header';
@import './components/page-hero-index';
@import './components/page-qualities-index';
@import './components/page-tasks-index';
@import './components/page-team-index';
@import './components/page-clients-index';
@import './components/page-footer';
@import './components/page-modal-index';
@import './components/page-filter-portfolio';
@import './components/page-projects-portfolio';

@import './mobile/header-mobile';
@import './mobile/hero_mobile';
@import './mobile/qualities-mobile';
@import './mobile/tasks-mobile';
@import './mobile/team-mobile';
@import './mobile/clients-mobile';
@import './mobile/footer-mobile';
